{% extends 'circumatMasterProject/baseHome.html' %}


{% load render_bundle from webpack_loader %}


{% load static %}
{% block title %}CircuMat{% endblock %}


{% block speciality %}
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Custom fonts for this template -->
<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{% static 'css_home/grayscale.min.css' %}" rel="stylesheet">
{% endblock %}


<!-- Add code to initialize the product tree when the document is loaded: -->


{% block content %}

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">

    <div class="container">
        CircuMAT
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="circumat" style="color: black;">Tool </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about" style="color: black;">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#methods" style="color: black;">Methods</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#deliverables" style="color: black;">Resources</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact" style="color: black;">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase" >CircuMat</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5" style="background-color:black;">A blended learning toolbox that helps actors related to
                city regions to identify the local material and goods flows.
            </h2><br><br>
            <a href="circumat" class="btn btn-primary js-scroll-trigger">Open tool</a>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="about-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-white mb-4">Project</h2>
                <p class="text-white-50">CircuMat is a blended learning toolbox that helps actors related to cities, city regions
                    industrial parks to identify the local material and goods flows in order to assess in a simple way
                    the possibility and potential for ‘circular’ actions such as closed-loop materials metabolism.
                    CircuMat is a modified (forked) version of Rama-Scene EIT Raw Materials project.
                    CircuMat focuses on NUTS2 level classification as opposed to Rama-Scene country level analysis tool.<br>
                <img src="{% static 'EIT_EU_logos/EU-Flag-2020-White_100px.png' %}" style="width: 60%; height: 15%">
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Projects Section -->
<section id="methods" class="projects-section bg-light">
    <div class="container">

        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-8 col-lg-7">
                <img class="img-fluid mb-3 mb-lg-0" src="{% static 'img/pic1.jpg' %}" alt="">
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>Environmentally Extended Input-Output (EEIO)</h4>
                    <p class="text-black-50 mb-0">EEIO is a linear economic and environmental accounting model which
                        provides
                        details on the relationships between economic actors (e.g. industries and final consumers) and
                        the
                        environmental pressures they exert as a result of their activities. <br>
                    </p>
                </div>
            </div>
        </div>
        <!-- Project One Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6">
            </div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Data</h4>
                            <p class="mb-0 text-white-50">The database behind the platform is EXIOBASE V3.3.sm (2011)
                                in
                                Industry Technology Assumption (ITA) and product-by-product format. 200 products including
                                secondary raw materials, 281 regions (NUTS 2016)
                                and 10 characterised impact indicators are available for selection to allow for complex
                                multi-variate analysis.
                                <br>
                                <a href="http://exiobase.eu/">Read more</a>
                            </p>
                            <hr class="d-none d-lg-block mb-0 ml-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Project Two Row -->
        <div class="row justify-content-center no-gutters">
            <div class="col-lg-6">
            </div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">Production and consumption views<br></h4>
                            <p class="mb-0 text-white-50">You can analyse the environmental and economic impacts resulting from the production or the consumption of goods and services. The  production  view analyses the impacts of the production of specific product categories while   the   consumption view analyses  throughout the entire supply-chain of a consumed product category.<br>
                            </p>
                            <hr class="d-none d-lg-block mb-0 mr-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6">
            </div>
             <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Modelling</h4>
                            <p class="text-white-50 mb-0">Create final consumption scenarios by applying sets of relative
                        changes to
                        final demand. The changes are applied in sequence and results are recalculated.<br>
                    </p>
                            <hr class="d-none d-lg-block mb-0 ml-0">
                        </div>git a
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6">
            </div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Assumptions</h4>
                            <p class="mb-0 text-white-50">Regional employment numbers in NUTS 2 level in NACE sectors are used to disaggregate the economic outputs of the sectors in EXIOBASE. (In other words,  the output of a sector is a linear function of the number of people working in that sector.)
Regional income data, gross capital formation and employment data  are used to disaggregate the final demand.
National accounts are the base-lines for the intensities.
Cross hauling is not allowed while the disaggregation into subnational values (in other words, if the region is exporter, it is not an importer; and vice versa.)
Final IO table is left unbalanced. RAS algorithm can be implemented for re-balancing.<br><br>
                            </p>
                            <hr class="d-none d-lg-block mb-0 ml-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <br>


    </div>
</section>

<!-- Deliverables Section (same style as about)-->
<section id="deliverables" class="about-section bg-black small text-center text-white-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-white mb-4">Resources</h2>
                <p class="text-white-50">
                  <!--  <a style="color:white;" href="https://bitbucket.org/CML-IE/rama-scene/src/master/">Bitbucket</a> -->
                    To be delivered...

                </p>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section (using style of sign-up section)-->
<section id="contact" class="signup-section bg-black">
    <div class="container-fluid">
        <div class="col-md-10 col-lg-8 mx-auto text-center">
            <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
            <h2 class="text-white mb-5">Contact</h2>
        </div>
        <div class="row">
            <div class="col-md-3 mb-3 mb-md-0">
                <div class="card py-4 h-100" style="background-color:black;">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0"  style="color:white;">Leiden University - CML</h4>
                        <hr class="my-4">
                        <div class="small text-white-50">
                            Prof. Arnold Tukker: Tukker@cml.leidenuniv.nl
                        </div>
                        <div class="small text-white-50">
                            Dr. H. Cetinay Iyicil: h.cetinay.iyicil@cml.leidenuniv.nl
                        </div>
                        <div class="small text-white-50">
                            Sidney Niccolson: s.i.niccolson@cml.leidenuniv.nl
                        </div>
                        <div class="small text-white-50">
                            Dr. Benjamin Sprecher: sprecher@cml.leidenuniv.nl
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-3 mb-md-0">
                <div class="card py-4 h-100" style="background-color:black;">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0" style="color:white;">TU Delft </h4>
                        <hr class="my-4">
                        <div class="small text-white-50">
                            Prof. Ellen van Bueren: E.M.vanBueren@tudelft.nl
                        </div>
                        <div class="small text-white-50">
                            Dr. Aksel Ersoy : A.Ersoy@tudelft.nl‎
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-3 mb-3 mb-md-0">
                <div class="card py-4 h-100" style="background-color:black;">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0" style="color:white;">Chalmers</h4>
                        <hr class="my-4">
                        <div class="small text-white-50">
                           Dr. Leonardo Rosado: rosado@chalmers.se
                        </div>
                        <div class="small text-white-50">
                            Joao Patricio: joao.patricio@chalmers.se
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3 mb-md-0">
                <div class="card py-4 h-100" style="background-color:black;">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0" style="color:white;">TNO</h4>
                        <hr class="my-4">
                        <div class="small text-white-50">
                            Ir. Elmer Rietveld: elmer.rietveld@tno.nl
                        </div>
                    </div>
                </div>
            </div>


        </div>


    </div>

</section>


{% endblock %}
{% block footer %}
<!-- Footer -->
<footer class="bg-black small text-center text-white-50">

    <div class="container">
        The clients and developers of the CircuMat application are not responsible for any incorrect or incomplete
        data (about measurements, standards, visualizations etc.) or information on this website.
        <br>Copyright &copy; CircuMat 2019
    </div>
    <div class="container">
        Credits <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@jonathanborba?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Jonathan Borba"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Jonathan Borba</span></a>
    <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@calvinhanson?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Calvin Hanson"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Calvin Hanson</span></a>
    </div>
</footer>
<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script src="{% static 'vendor/font-awesome/js/all.js' %}"></script>
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for this template -->
<script src="{% static 'js_home/grayscale.min.js' %}"></script>
{% endblock %}
