{% extends 'circumatMasterProject/baseHome.html' %}


{% load render_bundle from webpack_loader %}


{% load static %}
{% block title %}CircuMat{% endblock %}


{% block speciality %}
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Custom fonts for this template -->
<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{% static 'css_home/grayscale.min.css' %}" rel="stylesheet">
{% endblock %}


<!-- Add code to initialize the product tree when the document is loaded: -->


{% block content %}

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">

    <div class="container">
        CircuMAT
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="circumat" style="color: black;">Tool </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about" style="color: black;">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#methods" style="color: black;">Methods</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#deliverables" style="color: black;">Resources</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact" style="color: black;">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase" >CircuMat</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5" style="background-color:black;">CIRCUMAT project aims to helps actors related to
                cities or city regions in Europe to identify the characteristics of the regions, their consumption and
                production activities and their relation to the environmental and economic indicators.
            </h2><br><br>
            <a href="circumat" class="btn btn-primary js-scroll-trigger">Open tool</a>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="about-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-white mb-4">Project</h2>
                <p class="text-white-50">The topic of the year or the topic of the upcoming many years,
                    is circular economy. It is great a concept. It aims to minimize waste and tries to
                    maximize the make out of our resources.   Circular economy is also very broad concept.
                    Many things can fall under its umbrella. This is good for academia as it stimulates the
                    research. On the other hand, when it comes to practice, the concept can get difficult.
                    The practitioners or authorities who need to come up with policies or road maps can struggle
                    to capture the essence of the concept or make targets. So, one can ask the question “ How can
                    we kick start the circular economy agenda in our region?”.
                </p>
                    <p class="text-white-50">
                    This challenge was the starting point of CIRCUMAT project. With our project, we want to create a link between
                    the circular economy and the practitioners so that they can kick start their agenda and/or
                    we can ease their decision making. The project consists of four phases and deliverables,
                    including an online calculation tool -REAT- that performs environmentally extended input
                    output analysis in the subnational regions (NUTS 2) of Europe. REAT is a modified (forked)
                    version of Rama-Scene EIT Raw Materials project. REAT focuses on NUTS2 level classification
                    as opposed to Rama-Scene country level analysis tool. More information about the Rama-Scene
                    project can be found in the other resources tab.
                    </p>
                    <p class="text-white-50">
                    CIRCUMAT introduces the fundamentals of environmental and economic analyses to the
                    regional practitioners and gives them the eye openers to better understand their region,
                    the sectors in order to assess the priority and the potential for ‘circular’ policies.
                    <br>
                <img src="{% static 'EIT_EU_logos/EU-Flag-2020-White_100px.png' %}" style="width: 60%; height: 15%">
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Projects Section -->
<section id="methods" class="projects-section bg-light">
    <div class="container">

        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-8 col-lg-7">
                <img class="img-fluid mb-3 mb-lg-0" src="{% static 'img/pic1.jpg' %}" alt="">
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>What does “Regional Environmental and Economic Assessment Tool” (REAT) of CIRCUMAT do?</h4>
                    <p class="text-black-50 mb-0">
                        REAT performs economic and environmental calculations according to the
                        Leontief model in the NUT2 regions of Europe. REAT does three main analyses:
                        the hot spot analysis to identify the key sectors where selected environmental or
                        economic indicators mostly occur,  the contribution analysis  to understand the whole
                        supply chain and the key consumption items that contribute to the total value of the
                        selected indicator and finally the scenario analysis that the users can simulate the
                        effects of circular consumption on the selected indicators by modifying the final consumption values.
                    </p>
                </div>
            </div>
        </div>
        <!-- Project One Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6">
            </div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Where can I find the data used in REAT?</h4>
                            <p class="mb-0 text-white-50">
                                The data behind the CIRCUMAT tool of REAT is available and can be downloaded from
                                <a href="https://surfdrive.surf.nl/files/index.php/s/bEVnoyJUeYMUiyr/authenticate">here</a>
                                (password:circumat).
                            </p>
                            <p class="mb-0 text-white-50">
                                The data for REAT is from two main sources: from EXIOBASE –
                                A Multi-Regional Environmentally Extended Input
                                Output databases and from EUROSTAT-
                                The statistical office of the European Union.
                            </p>
                            <p class="mb-0 text-white-50">
                                EXIOBASE can be downloaded   <a href="https://www.exiobase.eu/">here</a>
                                . The year 2011 of EXIOBASE, product by product monetary
                                    input output table is used for calculations.
                            </p>
                            <p class="mb-0 text-white-50">
                            From <a href="https://ec.europa.eu/eurostat">EUROSTAT</a>, in the NUTS2 level detail, income values,
                                gross capital formation, agriculture and sectoral employment numbers are
                                collected for the NUTS2 regions in Europe for the year 2011 and used to
                                regionalize the national values.
                            </p>
                            <p class="mb-0 text-white-50">

                                In order to download bulk data from EUROSTAT (over 250 regions), python code is constructed and this code is available
                                <a href="https://bitbucket.org/CML-IE/circumat/src/master/python_ini/devScripts/">here</a>.
                                The data collected from EUROSTAT in the regional scale for 2011 includes
                                blank entries where data are not present. Thus, to approximate these missing
                                data, we used the national averages or data deducted from the adjacent years if available.
                                <br>
                            </p>
                            <hr class="d-none d-lg-block mb-0 ml-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Project Two Row -->
        <div class="row justify-content-center no-gutters">
            <div class="col-lg-6">
            </div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">REAT can perform three main analytical calculations<br></h4>
                            <p class="mb-0 text-white-50">
                               <u>HOTSPOT ANALYSIS BY REAT</u>
                                <br>
                                The production view (Hotspot Analysis) calculates the economic and environmental indicators of specific manufacturing activity(s) in the region. The hotspot analysis identifies the key sectors where the selected indicator mostly occurs.
                                <br>
                                <u> Contribution Analysis by REAT</u>
                                <br>
                                The consumption view (Contribution Analysis) calculates the impacts generated along the entire supply chain for the final demand of specific manufacturing activity(s) in the region. Contribution analysis identifies the key consumption items that contribute to the selected indicator.
                                <br>
                                <u>Scenario Analysis by REAT</u>
                                <br>
                                The scenario analysis defines a scenario to calculate the effects of changes in the final demand.  The scenario analysis can identify the effects of circular consumption in the region on the environmental and economic indicators.

                                <br>
                            </p>
                            <hr class="d-none d-lg-block mb-0 mr-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6">
            </div>
             <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">What is a NUTS2 region?</h4>
                            <p class="text-white-50 mb-0">
                                NUTS classification is a single, coherent system for dividing up the EU's territory in
                                order to produce regional statistics for the Community.
                                <a href="https://ec.europa.eu/eurostat/web/nuts/nuts-maps-.pdf-">NUTS2 maps</a>
                            </p>
                            <p class="text-white-50 mb-0">
                                Additionally many information and useful codes, including the shape files, can be downloaded from
                                <a href="https://tbed.org/eudemo/index.php?function=search&tablename=nuts2_vw">here</a>
                            </p>
                             <p class="text-white-50 mb-0">
                                The list of the NUTS2 regions covered in the REAT can be downloaded from
                                    <a href="https://bitbucket.org/CML-IE/circumat/src/master/static_assets/circumat_regions.csv">here</a>
                                 .For the user selected NUT2 region, the REAT can perform three main analytical calculations.<br>
                            </p>
                            <hr class="d-none d-lg-block mb-0 ml-0">
                        </div>git a
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6">
            </div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Assumptions behind REAT</h4>
                            <p class="mb-0 text-white-50">The regionalization of the national input output tables in
                                REAT includes several assumptions, including
                            </p>
                            <p class="mb-0 text-white-50">
                                The sectoral concordance: The data from EUROSTAT in NACE sectors are matched by the
                                sectors in EXIOBASE using
                                predetermined concordance matrices.
                            </p>
                            <p class="mb-0 text-white-50">
                                The regional output values: Regional employment numbers are used to approximate the
                                regional economic outputs and
                                value added of the sectors.
                                The consumption values: Regional income, gross capital formation and employment data
                                are used to approximate the
                                regional final demand of the sectors.
                            <p class="mb-0 text-white-50">
                                The missing sources: National accounts or averages are taken as the base-lines whenever
                                data are missing.
                            </p>
                            <p class="mb-0 text-white-50">
                                No cross hauling: Cross hauling is not allowed during the regionalization, in other
                                words, if the region is exporter,
                                it is not an importer; and vice versa.
                            </p>
                            <p class="mb-0 text-white-50">
                                Unbalances IO tables: Final IO table is not neccesarily balanced. Interested users
                                can use RAS algorithm to re-balance the IO tables.<br><br>
                            </p>
                            <hr class="d-none d-lg-block mb-0 ml-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <br>


    </div>
</section>

<!-- Deliverables Section (same style as about)-->
<section id="deliverables" class="about-section bg-black small text-center text-white-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-white mb-4">Resources</h2>
                <p class="text-white-50">
                    <a style="color:white;" href="../static/CIRCUMAT_PLATFORM_USER_GUIDE.pdf">Online calculation tool (REAT Manual)</a>
                    <br>
                    <a style="color:white;" href="https://surfdrive.surf.nl/files/index.php/s/bEVnoyJUeYMUiyr">CircuMat data (password:circumat)</a>
                    <br>
                    <a style="color:white;" href="project-summary">CircuMat Project Summary</a>
                    <br>
                    <a style="color:white;" href="circular-economy">Circular Economy</a>
                    <br>
                    <a style="color:white;" href="academic-papers">Academic Papers</a>
                    <br>
                    <a style="color:white;" href="online-tools">Additional analytical & co-creation tools</a>
                    <br>
                    <a style="color:white;" href="online-databases">Additional national & regional databases</a>
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section (using style of sign-up section)-->
<section id="contact" class="signup-section bg-black">
    <div class="container-fluid">
        <div class="col-md-10 col-lg-8 mx-auto text-center">
            <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
            <h2 class="text-white mb-5">Contact</h2>
        </div>
        <div class="row">
            <div class="col-md-3 mb-3 mb-md-0">
                <div class="card py-4 h-100" style="background-color:black;">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0"  style="color:white;">Leiden University - CML</h4>
                        <hr class="my-4">
                        <div class="small text-white-50">
                            Prof. Arnold Tukker: Tukker@cml.leidenuniv.nl
                        </div>
                        <div class="small text-white-50">
                            Dr. Hale Cetinay Iyicil: h.cetinay.iyicil@cml.leidenuniv.nl
                        </div>
                        <div class="small text-white-50">
                            Sidney Niccolson: s.i.niccolson@cml.leidenuniv.nl
                        </div>
                        <div class="small text-white-50">
                            Dr. Benjamin Sprecher: sprecher@cml.leidenuniv.nl
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-3 mb-md-0">
                <div class="card py-4 h-100" style="background-color:black;">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0" style="color:white;">TU Delft </h4>
                        <hr class="my-4">
                        <div class="small text-white-50">
                            Prof. Ellen van Bueren: E.M.vanBueren@tudelft.nl
                        </div>
                        <div class="small text-white-50">
                            Dr. Aksel Ersoy : A.Ersoy@tudelft.nl‎
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-3 mb-3 mb-md-0">
                <div class="card py-4 h-100" style="background-color:black;">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0" style="color:white;">Chalmers</h4>
                        <hr class="my-4">
                        <div class="small text-white-50">
                           Dr. Leonardo Rosado: rosado@chalmers.se
                        </div>
                        <div class="small text-white-50">
                            Joao Patricio: joao.patricio@chalmers.se
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3 mb-md-0">
                <div class="card py-4 h-100" style="background-color:black;">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0" style="color:white;">TNO</h4>
                        <hr class="my-4">
                        <div class="small text-white-50">
                            Ir. Elmer Rietveld: elmer.rietveld@tno.nl
                        </div>
                    </div>
                </div>
            </div>


        </div>


    </div>

</section>


{% endblock %}
{% block footer %}
<!-- Footer -->
<footer class="bg-black small text-center text-white-50">

    <div class="container">
        The clients and developers of the CircuMat application are not responsible for any incorrect or incomplete
        data (about measurements, standards, visualizations etc.) or information on this website.
        <br>Copyright &copy; CircuMat 2019
    </div>
    <div class="container">
        Credits <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@jonathanborba?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Jonathan Borba"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Jonathan Borba</span></a>
    <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@calvinhanson?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Calvin Hanson"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Calvin Hanson</span></a>
    </div>
</footer>
<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script src="{% static 'vendor/font-awesome/js/all.js' %}"></script>
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for this template -->
<script src="{% static 'js_home/grayscale.min.js' %}"></script>
{% endblock %}
